.container {
  display: flex;
  align-items: center;
  height: 15%;
  justify-content: space-between;
  
  &__field {
    resize: none;
    width: 100%;
    background-color: #f6f7ff;
    border-radius: 6px;
    border: 1px solid #090b3e;
    padding: 10px;
    outline: none;
    height: 70px;
    margin-right: 20px;
  }
}