.container {
  display: flex;
  margin: 10px 0;
}

.right {
  flex-direction: row-reverse;
  .message {
    text-align: right;
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 25px;
  align-self: flex-end;
  cursor: pointer;
}

.message {
  padding: 10px;
  border: 1px solid #090b3e;
  border-radius: 6px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  max-width: 60%;
  min-width: 40%;
  &__user {
    font-weight: bold;
  }
  &__text {
    margin: 10px 0;
    word-break: break-word;
  }
}
.meta {
  display: flex;
  justify-content: space-between;
  &__liked {
    color: red !important;
  }
  &__data,
  &__likes {
    color: grey;
    font-size: 14px;
  }
  &__controls {
    width: 40px;
    display: flex;
    justify-content: space-between;
    &__trash {
      cursor: pointer;
    }
    &__pencil {
      cursor: pointer;
      color: gray;
    }
  }
  &__likeButton {
    cursor: pointer;
    color: #f5c6c6;
    cursor: pointer;
    align-self: flex-end;
  }
}