.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 10%;
  height: 10%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  animation: pullDown 1s ease-in-out;

  &__logo {
    font-size: 32px;
    display: inline-flex;
    align-items: baseline;
    font-weight: 900;
    cursor: pointer;

    &__dot {
      font-size: 25px;
      display: inline-block;
      position: relative;
      font-weight: 900;

      &::before {
        content: '';
        top: 0px;
        left: 1px;
        height: 5px;
        width: 5px;
        display: block;
        position: absolute;
        background-color: #F7CF69;
      }
    }

    &__wrapped {
      display: flex;
      height: 35%;
      flex-direction: column;
      font-size: 13px;
      line-height: 1;
      align-self: center;
      padding-left: 7px;
      color: #a9a1a1;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}