.buttonSubmit {
  border: 1px solid #090b3e;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: #fff;
  text-transform: uppercase;
  color: #090b3e;
  outline: none;
  padding: 10px 25px;
}